.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba($color-grey-dark-3, 0), rgba($color-grey-dark-3, 0.6));
  animation-name: bgColorStart;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  &__logo,
  &__text {
    padding-top: 3rem;
    padding-left: 3rem;
    @include respond(tab-port) {
      text-align: center;
      padding: 3rem 0 0 0;
    }
  }

  &__logo {
    display: inline-block;
    @include respond(tab-port) {
      display: block;
      padding: 50% 0 0 0;
    }
  }

  &__text {
    color: $color-primary;
    & > * {
      margin-bottom: 3rem;
      pointer-events: none;
      transition: all 0.3s;
      font-family: $font-text;

      @include respond(tab-port) {
        animation-name: headerText;
        animation-fill-mode: backwards;
        animation-delay: 4s;
        animation-duration: 1.2s;
      }

      @include respond(land) {
        opacity: 0;
      }
    }

    &--name {
      text-transform: uppercase;
      font-size: 4rem;
      animation-name: logo-text-appear;
      animation-delay: 3.75s;
      animation-duration: 1s;
      animation-fill-mode: both;

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &--about {
      font-size-adjust: 3rem;
      animation-name: logo-text-appear;
      animation-delay: 4.25s;
      animation-duration: 1s;
      animation-fill-mode: both;
      @include respond(phone) {
        font-size: 2.5rem;
      }
    }
  }
}
