.projects {
   min-height: 100vh;
   background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-light, $color-primary-dark);
   display: grid;
   grid-template-rows: min-content 1fr;
   align-items: center;

   &__heading {
      padding-top: 8rem;
      color: $color-grey-dark-3;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
   }
}
