// COLORS
$color-primary: rgb(28, 218, 186);
$color-primary-light: #8dece0;
$color-primary-dark: rgb(26, 170, 146);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f0f0f0;
$color-grey-light-2: rgb(190, 190, 190);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(31, 31, 31);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;
$font-text: "Oxygen", sans-serif;
$font-heading: "Montserrat", sans-serif;
